@font-face {
  font-family: 'Geist Sans';
  src: url('/src/assets/fonts/Geist[wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --primary-color: #16A34A;
  --primary-color-hover: #13843c;
  --secondary-color: #DCFCE7;
  --secondary-color-hover: #baffd2; 
  --background-color: #f0fdf4;
  --black: #000000;
  --gray: #838383;
  --light-gray: #ccc;
  --white: #ffffff;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --font: "Geist Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

h1 {
  font-size: 32px;
  color: #166534;
  font-weight: bold;
}

ul{
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 25px;
}

.landing h1{
  margin-bottom: 8px;
  text-align: center;
}

.landing > svg{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.landing .lead{
  font-size: 16px;
  color: #166534;
  text-align: center;
  margin-bottom: 20px;
}

.landing .space{
  width: 100%;
}

.full-height {
  min-height: 100vh;
}


button,
.button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color:  var(--white);
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover,
.button:hover {
  background-color: var(--primary-color-hover);
}

button:disabled,
.button:disabled {
  background-color: var(--light-gray);
  cursor: not-allowed;
}

.button-primary {
  background-color:  var(--primary-color);
  color: var(--white);
}

.button-secondary {
  background-color: var(--secondary-color);
  color: #107535;
  box-shadow: var(--shadow);
}

.button-secondary:hover {
  background-color:  var(--secondary-color-hover);
}

.button-link{
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  transition:text-decoration 0.3s;
}

.button-link:hover {
  background-color: transparent;
  color: var(--primary-color-hover);
  text-decoration: underline;
}

.space {
  display: flex;
  gap : 16px;
}

.space.vertical {
  flex-direction: column;
}

input {
  padding: 16px 20px;
  border: 1px solid  var(--light-gray);
  border-radius: 8px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #88d66c;
}

input::placeholder {
  color: #ccc;
}

.input-error {
  border-color: #ff4d4d;
  color: #ff4d4d;
}

.input-error:focus {
  border-color: #ff4d4d;
}

.input-error::placeholder {
  color: #ff4d4d;
}

.arrow-back {
  cursor: pointer;
  stroke: #838383;
  width: 24px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.modal.open {
  transform: translateX(0);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
}

.modal-content {
  max-width: 600px;
  padding: 20px;
  width: 100%;
}

.modal-content input{
  width: 100%;
}

.modal-content > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-content button {
  margin-top: 12px;
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

label span {
  font-size: 12px;
  color: #888;
}

.error {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 4px;
}


footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  color: #166534;
  background-color: var(--secondary-color);
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-content h4 {
  margin: 0;
  font-size: 20px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-content li {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.footer-content a {
  color: #166534;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #888;
}